<%= form_tag('/questions/lastSituationsSubmit') do -%>
<p>
Пожалуйста, прочитайте следующие гипотетические ситуации. Пожалуйста, оцените в процентах какова вероятность для каждого игрока, что это ситуация про него. 
Например, если Вы считаете, что предлагаемая ситуация очень возможна с Игроком X, то тогда в его окошке ставите 100%.
Если Вам кажется, что с Игроком Y такая ситуация невозможна, то напротив его имени, Вы ставите 0%. 
Если Вам кажется, что в этой ситуации описывается Игрок Z, но все-таки что-то вызывает сомнения, Вы можете поставить ему любой процент, отражающий эту вероятность, например, n%
<p>
Помните, что у каждого игрока есть свои 100% (то есть Вы можете в одной ситуации поставить, как, например, всем 100%, так и всем 0%)
</p>
<ol>
<li><p>
Вы написали очень личный рассказ. Вы решили дать его кому-нибудь почитать, чтобы услышать мнение. Вы поделились им со своим хорошим знакомым, Игроком. Игрок с удовольствием согласился прочитать, однако, спросил можно ли взять домой, чтобы в спокойной обстановке ознакомиться с текстом. Вы согласились. Через несколько дней Ваш общий знакомый на встрече передал Ваш рассказ Вам обратно. Однако Вы не давали право Игроку передавать это кому-то еще. Какова вероятность, что это ситуация про: 
</p>
<%= lastSituationsFields("question1")%>
</li>
<li><p>
К Вам подошел Игрок и попросил Вас одолжить ему значительную для Вас сумму денег, и обещает вернуть ее через неделю. Вы можете одолжить ему деньги, но через 9 дней Вам эти деньги точно понадобятся. Какова вероятность того, что вы согласитесь, если это будет:
</p>
<%= lastSituationsFields("question2")%>
</li>
<li><p>
Вы играете в настольную игру вчетвером. Игрок предлагает Вам рискованный шаг и убеждает, что от этого Вы оба выиграете, но если он обманывает, то Вы точно проиграете, а он выиграет. Какова вероятность, что Вы согласитесь, если это будет:
</p>
<%= lastSituationsFields("question3")%>
</li>
<li><p>

Вы собираетесь спускаться с отвесной стены и просите Игрока закрепить Ваши веревки, в то время как Вы параллельно занимаетесь другим делом. После того, как Вы закончили свое дело, Вы подошли к игроку, чтобы проверить, как он выполнил свою работу, так как от этого зависит Ваша жизнь. Какова вероятность, что это будет Игрок:
</p>
<%= lastSituationsFields("question4")%>
</li>
<li><p>

Вы узнали от общего знакомого, что один из игроков рассказал ему одну личную информацию про Вас. Какова вероятность, что это будет:
</p>
<%= lastSituationsFields("question5")%>
</li>
<li><p>
Вы подготовили достаточно дорогой подарок для близкого Вам человека. Однако так получается, что Вы не сможете быть на самом празднике. Тогда Вы просите своего друга, Игрока, вручить от Вашего имени подарок на этом празднике. Какова вероятность, что это будет игрок:
</p>
<%= lastSituationsFields("question6")%>
</li>
<li><p>

У Вас сегодня семейный праздник. Неожиданно для Вас один из Ваших коллег, Игрок, поздравляет Вас с ним. Вы приятно удивлены, но вспоминаете, что несколько дней в беседе мимолетом упоминали об этом. Какова вероятность, что это был:
</p>
<%= lastSituationsFields("question7")%>
</li>
<li><p>

На работе перед Вами стоят достаточно сложная задача, и Вы до конца не знаете, как ее лучше решить. Мимо Вас проходит Ваш коллега, один из игроков. Вы обращаетесь к нему с просьбой о помощи. Он соглашается помочь и обещает через 10 минут, как только он закончит одно дело, к Вам заглянуть. Но так и не приходит к Вам. Вы звоните ему по телефону. Оказывается, он забыл о Вашей просьбе, но сейчас подойдет. И действительно, после звонка он уже сразу приходит. Какова вероятность, что это будет:
</p>
<%= lastSituationsFields("question8")%>
</li>
<li><p>

Вы являетесь руководителем филиала международной компании. В Ваш филиал через неделю должно приехать начальство из Германии. К сожалению, Вы не сможете встретить их сами, поэтому на очередном собрании просите одного из Игроков сделать это. Вы знаете, что поручив ему, эту сложную задачу Вам не придется напоминать ему об этом. Какова вероятность, что это будет:
</p>
<%= lastSituationsFields("question9")%>
</li>
<li><p>

Вы пришли домой очень усталым, и практически сразу же легли спать и уснули. В середине ночи раздается телефонный звонок. Вы понимаете, что, возможно, что-то случилось, но есть шанс, что Вам звонят просто так. Телефон показывает, что Вам звонит из игроков. Какова вероятность, что Вы поднимите трубку, если это будет:
</p>
<%= lastSituationsFields("question10")%>
</li>
</ol>

	  <div><%= submit_tag 'Готово' %></div>

<%end%>