<%= form_tag('/questions/moneySubmit') do -%>
<p>
	Теперь вы можете поделиться выйгранными деньгами с остальными игроками, сумма которую вы им дадите увеличится в трое.
	У вас на счету : <%=@game.current_player.money%>
</p>
<p>
Сколько Вы хотите дать игроку 1? 
</p><p>
<%=text_field_tag 'player1'%>
</p><p>
Сколько Вы хотите дать игроку 2?
</p><p>
<%=text_field_tag 'player2'%>
</p><p>
Сколько Вы хотите дать игроку 3?
</p><p>
<%=text_field_tag 'player3'%>
</p><p>
<div><%= submit_tag 'Далее' %></div>
</p>
<%end%>