
<table>
	<tr>
		<td>Ваш результат:
		</td>
		<td><%=@game.current_player.money%></td>
	</tr>
	<tr>
		<td>Игрок 1
		</td>
		<td><%=@game.players[0].money%></td>
	</tr>
	<tr>
		<td>Игрок 2
		</td>
		<td><%=@game.players[1].money%></td>
	</tr>
	<tr>
		<td>Игрок 3
		</td>
		<td><%=@game.players[2].money%></td>
	</tr>
</table>
<p>
В этом исследовании мы проверяли формирование доверия в зависимости от типа поведения. За остальных игроков играл компьютер с заранее запрограммированным поведением. 
</p><br/>
Игрок 1 всегда говорил правду. <br/>
Игрок 3 всегда говорил ложь (то есть, говорил, что будет вкладывать, а на самом деле не вкладывал и наоборот). <br/>
Игрок 2 всегда говорил, что будет вкладывать, и затем вкладывал, кроме одного раза в 16 раунде. <br/>
<br/>
Таким образом, наша задача посмотреть, какое поведение вызывает больше доверия, а какое наоборот – больше недоверия, а также основываясь на стратегии, которую используют участники эксперимента, оценить процесс формирования доверия.<br/>
<br/>
И последний вопрос:<br/>
Когда Вы поняли, что играете с компьютером, а не с человеком?<br/>
<input type="radio" name="lastCheck" value="begin"> сразу же<br/>
<input type="radio" name="lastCheck" value="middle"> где-то в середине игры<br/>
<input type="radio" name="lastCheck" value="end"> после того, как игра закончилась, пока я отвечал на вопросы<br/>
<input type="radio" name="lastCheck" value="superend"> только сейчас, после прочтения этого текста<br/>
<br/>
Спасибо большое за участие в исследовании!
<br/>
Если у Вас есть вопросы, комментарии и/или замечания, Вы можете написать на адрес: 
<br/>
<a href="mailto:goofinfog@gmail.com">goofinfog@gmail.com</a>
<br/>
Михаил Аллахвердов


<%=@user.result%>