<p>
	<p>Здравствуйте!</p>
	<p>
	Спасибо, что согласились принять участие в исследование.
	</p><p>
	Данное исследование будет проходить в форме игры с другими участниками эксперимента. Эксперимент направлен на изучение процессов принятия решения в ситуации ограниченного социального взаимодействия.
	</p><p>
	Участие в данном исследовании является абсолютно добровольным. Все личные данные, предоставленные Вами, конфиденциальны и не подлежат дальнейшему распространению. Другим участникам эксперимента Вы будете представлены, как Игрок и порядковый номер. Так как в исследовании с Вами одновременно участвует еще 3 человека, Ваш порядковый номер будет от 1 до 4. Номера определяются программой случайным образом.
	</p><p>
	(галочка) я даю свое согласие на использование моих данных для статистической обработки результатов исследования.
	</p><p>
	На прохождение эксперимента у Вас уйдет около 20 минут. Пожалуйста, постарайтесь, чтобы в процессе исследования Вас ничего не отвлекало. Сядьте максимально удобно. Возможно, перед началом самого эксперимента придется подождать других участников. Такое ожидание может занять до 5 минут. Мы просим Вас с пониманием отнестись к этому. Когда все участники будут готовы, программа пошлет Вам звуковой сигнал (?). (тут мы с Никитой решили, что звук излишен, и возможно в результате надо будет немного подправить этот текст).
	</p><p>
	Перед началом эксперимента введите, пожалуйста, свои данные на следующей странице.</p>
</p>
<%= form_for @user, :url => { :action => "proceed_next" } do |f| %>
	<%= f.error_messages %>
	<p><%= f.label :name%>
	<%= f.text_field :name%></p>
	<p><%= f.label :age%>
	<%= f.text_field :age%></p>
	<p><%= f.label :sex%>
	<% [ 'Male', 'Female' ].each do |sex| %>
	      <br><%= f.radio_button :sex, sex %>
	      <%= sex.humanize %>
    <% end %></p>

	<p><%= f.submit 'Далее'%></p>
<%end%>